DB_URL_FORMAT="jdbc:mysql://%s:25060/db"
DB_HOST="db.host.com"
DB_USER="dbuser"
DB_PASS="dbpass"
IP_ADDRESS="127.0.0.1"
LOGTAIL_TOKEN="ltoken"
LOGTAIL_HOST="https://xxx.yyy.betterstackdata.com"
DEBUG_MODE=true
GACHAPON_ENABLED=true
USE_AUTOBAN=true